### 2.3 변수와 입력

- 변수 : 별도로 자료형과 선언을 해줄 필요가 없음

In [1]:
pi = 3.14159
pi + 2

5.14159

In [6]:
radius = 10
print('원의 둘레 :', 2 * pi * radius)
print(f'원의 넓이 : {pi * radius ** 2}')

원의 둘레 : 62.8318
원의 넓이 : 314.159

- 복합 대입 연산자 : +=, -=, *=, ...

In [8]:
odd_sum = 0
for i in range(1, 100, 2):          ## 1~99번까지 2증감분
    odd_sum += i                ## odd_sum += i 쓰기전에 odd_sum의 값을 초기화 해줘야함
print(odd_sum)

2500

In [9]:
five_facto = 1
for i in range(1, 6):
    five_facto *= i
print(five_facto)

120

In [12]:
# 'hello: ' *3
three_hello = ''
for i in range(3):
    three_hello += 'hello:'
print(three_hello)

hello:hello:hello:

- 표기법 : Snake notation

In [13]:
# 단어와 단어 사이에 _ 를 사용
my_height = 175         # java : myHeight  => camel notation
my_weight = 70

In [14]:
_var = 5
print(_var)         
# _가 붙으면 임시변수로 쓸 수 있다. (사이킥런에서 계산한 결과를 _를 붙여서 내보내는 등 실용성 많음..)

5

In [15]:
# 값을 사용하지 않고 버리는 변수에는 종종 _ 를 사용한다.
height, weight, _ = 170, 65, 23

- 여러개의 변수

In [17]:
x, y, z = 10, 20, 30                # tuple unpacking ()를 생략할 수 있음
밑변, 높이, 대각선 = 3, 4, 5

In [19]:
# 두 변수값의 교환 
temp = x
x = y
y = temp
print(x,y)

10 20

In [21]:
# 파이썬에서는 위의 코드를 아래와 같이 한줄로 쓸 수 있다 !
x, y = y, x
x, y

(10, 20)

- 값이 없는 경우

In [25]:
x = None        #Java의 null에 해당
print(x)

None

- 입력

In [27]:
a = input('Prompt> ')
a, type(a)

('', str)

In [29]:
# type 변환이 필요
a = input('첫번째 정수 입력> ')
b = input('두번째 정수 입력> ')
a + b       #문자열 + 문자열

'34'

In [32]:
a = int(input('첫번째 정수 입력> '))
b = int(input('두번째 정수 입력> '))
a + b       # 정수 + 정수

7

In [33]:
# 인치 단위를 센티미터 단위로 변환
inch = float(input('인치값 실수 입력> '))
cm = 2.54 * inch
print(inch, cm)

4.0 10.16

- 입력값 여러개 받기

In [36]:
# 문자열 split() method
'10 20'.split()             #자바에서는

['10', '20']

In [38]:
# list unpacking
a, b = '10 20'.split()
a, b

('10', '20')

In [45]:
a, b = input('정수 2개 입력> ').split()     # 3 4
a, b

('3', '4')

In [46]:
a, b = input('정수 2개 입력(,로 구분)> ').split(',')       # 3,4
a, b

('3', '4')

In [48]:
# 리스트의 각 원소(element)에 함수를 적용하는 방법 : map
map(int, ['3', '4'])        # [int('3'), int('4')]

In [49]:
list(map(int, ['3', '4']))

[3, 4]

In [53]:
# split()과 map() 결합
list(map(int, input('두개의 정수 입력> ').split()))     # 30 40

[30, 40]

In [54]:

a, b = map(int, input('두개의 정수 입력> ').split())    # 30 40
a, b

(30, 40)

In [59]:
# sum 함수는 한번 쓰고 다른데서 또 쓰면 오류가 남으로, 여러번 쓰지 말아야한다.?

In [62]:
# 세개의 실수값 입력 받기
x, y, z = map(float, input('세개의 실수 입력> ').split())   # 1.2  2.3  3.4
x, y, z, x + y + z

(1.2, 2.3, 3.4, 6.9)