### 4.1 리스트(List)

최대 강점 : 반복문과 궁합이 잘맞음 <br>
    1) indexing (순서대로 찾아갈 수 있음) <br>
    2) 추가시키는게 매우 편하다.

In [1]:
a = [3, 7, 12, 16, 23]
type(a)

list

In [3]:
# 파이썬의 리스트 - 모든 자료형의 데이터를 혼합하여 사용할 수 있다.
# 이렇게 사용하는건 추천X 이런방식은 dictionary로 표현해야 Good!
person = ['James', 27, 'programmer', '175.4']
person

['James', 27, 'programmer', '175.4']

- 인덱싱(Indexing)

In [7]:
a[0], a[-1], person[2]

(3, 23, 'programmer')

- 슬라이싱(Slicing) 
[시작인덱스 : 끝인덱스 +1 : 증감]
※ 시작인덱스 0은 생략가능
※ 끝인덱스 마지막인덱스면 생략가능
※ 증감 안 할거면 생략
※ [::-1] 순서 뒤집기
※ [::2] 2증가분의 자료를 나타낼때

In [17]:
a[1:4], a[:2], a[3:], a[::2], a[::-1]

([7, 12, 16], [3, 7], [16, 23], [3, 12, 23], [23, 16, 12, 7, 3])

- 값 변경

In [21]:
a[0] = 1
a[-1] = 31
a

[1, 7, 12, 16, 31]

In [22]:
a[2] = [10, 20]     # 리스트안에 리스트넣기!(list는 타입이기때문!)
a

[1, 7, [10, 20], 16, 31]

In [23]:
# 새로 입력한 값 10 인덱싱 
a[2][0]

10

In [26]:
# 슬라이싱으로 값을 변경
a[3:] = [45, 78]        #리스트값에다가 리스트값을 변경함(리스트로들어가지X)
a

[1, 7, [10, 20], 45, 78]

In [27]:
a[:2] = [100, 200, 300]     #리스트의 값을 더 추가할 수 있음
a

[100, 200, 300, [10, 20], 45, 78]

In [28]:
a[3][1] = [-1, -3, -5]  #리스트안에 리스트안의값도 추가 가능
a

[100, 200, 300, [10, [-1, -3, -5]], 45, 78]

In [29]:
# 위의 200 값에 펼쳐서 값을 넣고 싶으면 슬라이싱으로 표현하여 추가 가능!
a[1:2] = [500,600]
a

[100, 500, 600, 300, [10, [-1, -3, -5]], 45, 78]

In [31]:
# 리스트 맨 뒤에 값을 추가시키려면
a[7] = 20       # 이렇게 추가는 안됨

IndexError: list assignment index out of range

In [33]:
# append method를 사용해야 함
a.append(20)
a

[100, 500, 600, 300, [10, [-1, -3, -5]], 45, 78, 20, 20]

- 빈 리스트 만들기

In [34]:
# 빈리스트 표현
b = []
c = list()

In [35]:
# 빈리스트에 반복문으로 채워 넣기
import random
for i in range(5):
    b.append(random.randint(1,6))
b

[1, 2, 1, 1, 3]

- 리스트 연산

In [36]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b               #리스트연결(concatanation) 문자열 결합과 유사

[1, 2, 3, 4, 5, 6]

In [37]:
a * 3       # a리스트 반복

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [38]:
len(a), type(a)

(3, list)

In [41]:
min(a), max(a), sum(a)

(1, 3, 6)

In [44]:
list(reversed(a))       # 인덱스 순서 뒤집기

[3, 2, 1]

In [47]:
sorted([44, 8, 9, 3, 25])   # 오름차순 정렬

[3, 8, 9, 25, 44]

### Tuple(튜플)
- 일단 생성되면 값을 변경할 수 없음(immutable)<br>
※ () 생략하여 사용가능

In [48]:
t = (4, 35, 7, 25, 10)
type(t), t

(tuple, (4, 35, 7, 25, 10))

In [49]:
t = 4, 6, 12        
type(t)

tuple

In [51]:
# 1개 원소를 갖는 튜플은 ,를 붙여줘야 튜플타입임!
# 괄호는 생략가능하지만 ,는 생략할 수 없다
x = (4,)    # x = 4, 도 가능, x = (4)는 튜플이 아님
type(x)

tuple

In [53]:
# 리스트와 동일하게 인덱싱할 수 있음
t[0]

4

In [54]:
# 값을 변경, 추가할 수 없음
t[0] = 1

TypeError: 'tuple' object does not support item assignment

- List/tuple unpacking

In [55]:
x, y, z = (10, 20, 30)
x, y, z

(10, 20, 30)

In [56]:
x, y, z = [3, 4, 5]     # 리스트로도 언펙킹 가능
x, y, z

(3, 4, 5)

In [57]:
# 재미난 실험~ 두둥~~(선생님 왈)
list('ABC')

['A', 'B', 'C']

In [59]:
x, y, z = list('ABC')
x, y, z

('A', 'B', 'C')